<button *ngIf="authService.isLoggedIn() && !authService.isRider()" class="btn_menu" style="border-color: white" mat-stroked-button [matMenuTriggerFor]="menu">
  Gestion
  <mat-icon>keyboard_arrow_down</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button *ngIf="authService.isInstructor()" routerLink="/home-instructor" mat-menu-item>Reprises</button>
  <button *ngIf="authService.isInstructor() || authService.isAdmin()" routerLink="/cheval-instructor" mat-menu-item>Chevaux</button>
  <button *ngIf="authService.isSuperAdmin()" routerLink="/admin-gestion" mat-menu-item>Administrateurs</button>
</mat-menu>
