<div class="container">

  <p>
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-label>Nom</mat-label>
      <input [(ngModel)]="user.lastname_user" name="lastname_user" type="text" matInput required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-label>Prénom</mat-label>
      <input [(ngModel)]="user.firstname_user" name="firstname_user" type="text" matInput  [formControl]="fieldControl" required>
      <mat-error *ngIf="fieldControl.invalid">{{getErrorMessageField()}}</mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>email</mat-icon>
      <mat-label>Adresse email</mat-label>
      <input [(ngModel)]="user.email_user" name="email_user" type="email" matInput  [formControl]="emailControl" required>
      <mat-error *ngIf="emailControl.invalid">{{getErrorMessageEmail()}}</mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>phone_android</mat-icon>
      <mat-label>Numéro de téléphone</mat-label>
      <input [(ngModel)]="user.phone_number_user" name="phone_user" type="text" matInput  [formControl]="phoneNumberControl" required>
      <mat-error *ngIf="phoneNumberControl.invalid">{{getErrorMessagePhoneNumber()}}</mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" class="center">
      <mat-icon matSuffix>assignment_ind</mat-icon>
      <mat-label>Numéro de license</mat-label>
      <input [(ngModel)]="user.license_number_user" name="license_number" type="text" matInput>
    </mat-form-field>
  </p>

</div>
