<div class="container">
  <mat-card>
    <h1 class="lobster">Réinitialiser son mot de passe</h1>

    <form (submit)="recupPassword()">

      <p>
        <mat-form-field appearance="outline" class="center">
          <mat-icon matSuffix>vpn_key</mat-icon>
          <mat-label>Nouveau mot de passe</mat-label>
          <input [(ngModel)]="password" name="email" type="email" matInput [formControl]="passwordControl" required>
          <mat-error *ngIf="password">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
      </p>

      <button class="center" mat-raised-button color="primary" [disabled]="password.length > 0">Réinitialiser</button>
    </form>
  </mat-card>
</div>
