<div style="margin-top: 40px;" class="container">
  <div class="card-panel">
    <form (submit)="create()">
      <div class="container">

        <p>
          <mat-form-field appearance="outline" class="center">
            <mat-icon matSuffix>title</mat-icon>
            <mat-label>Identifiant</mat-label>
            <input [(ngModel)]="reprise.title" name="title_reprise" matInput>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline" class="center">
            <input matInput [(ngModel)]="reprise.date" [ngxMatDatetimePicker]="picker" placeholder="Choisissez un jour et une heure" [formControl]="dateControl" [min]="minDate" [max]="maxDate" [disabled]="disabled">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
                                     [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond"
                                     [touchUi]="touchUi" [color]="color" [enableMeridian]="enableMeridian"
                                     [disableMinute]="disableMinute" [hideTime]="hideTime">
            </ngx-mat-datetime-picker>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline" class="center">
            <mat-icon matSuffix>groups</mat-icon>
            <mat-label>Nombre maximal de cavalier</mat-label>
            <input min="1" max="100" name="rider_number_limit" type="number" [(ngModel)]="reprise.rider_number_limit" matInput>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline" class="center">
            <mat-icon matSuffix>military_tech</mat-icon>
            <mat-label>Niveau du Galop</mat-label>
            <input min="1" max="7" name="galop_level" type="number" [(ngModel)]="reprise.galop_level" matInput>
          </mat-form-field>
        </p>

        <button mat-raised-button class="center" color="accent">Créer</button>

      </div>
    </form>
  </div>
</div>
