<div style="margin-top: 40px;" class="container">
  <div class="card-panel center-align">
    <h3 class="lobster" style="margin-top: 0">S'inscrire</h3>

    <form (submit)="create()">
      <div class="container">

        <div class="input-field">
          <i class="material-icons prefix">title</i>
          <input id="title" name="title" type="text" class="validate" [(ngModel)]="reprise.title">
          <label for="title">Titre du cours</label>
        </div>

        <div class="row">
          <div class="col s6">
            <div class="input-field">
              <i class="material-icons prefix">today</i>
              <input type="text" class="datepicker validate" id="date_reprise" name="date_reprise" [(ngModel)]="reprise.date">
              <label for="date_reprise">Date du cours</label>
            </div>
          </div>
          <div class="col s6">
            <div class="input-field">
              <i class="material-icons prefix">schedule</i>
              <input type="text" class="timepicker validate" id="heure_reprise" name="heure_reprise" [(ngModel)]="reprise.date">
              <label for="heure_reprise">Date du cours</label>
            </div>
          </div>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">people</i>
          <input id="rider_number_limit" name="rider_number_limit" type="number" class="active validate" [(ngModel)]="reprise.rider_number_limit">
          <label for="rider_number_limit">Nombre maximal de cavalier</label>
        </div>

        <div class="input-field">
          <i class="material-icons prefix">equalizer</i>
          <input id="galop_level" name="galop_level" type="number" class="active validate" [(ngModel)]="reprise.galop_level">
          <label for="galop_level">Niveau du Galop</label>
        </div>
      </div>

      <button class="btn btn-large waves-effect waves-light blue lighten-2"><i class="material-icons left">arrow_forward</i>S'inscrire</button>
      <button class="btn waves-effect waves-light white black-text"><i class="material-icons left">check</i>Se connecter</button>
    </form>
  </div>
</div>
