<div class="container">
  <mat-card>
    <h2 class="lobster center" *ngIf="reprise;else no_title">{{ reprise.title }}</h2>
    <ng-template #no_title><h2 class="lobster center">Description de la reprise</h2></ng-template>

    <table *ngIf="reprise">
      <tbody>
      <tr>
        <td><b>Date et horaire</b></td>
        <td>{{ reprise.date}}</td>
      </tr>
      <tr>
        <td><b>Limite du nombre de cavaliers</b></td>
        <td>{{ reprise.rider_number_limit}}</td>
      </tr>
      <tr>
        <td><b>Niveau de Galop requis</b></td>
        <td>{{ reprise.rider_number_limit}}</td>
      </tr>
      </tbody>
    </table>

    <br>
    <mat-divider></mat-divider>

    <br><h2 class="center lobster">Assignation des chevaux</h2>

    <div cdkDropListGroup>
      <div class="row">
        <div class="column">

          <h2>Chevaux Disponibles</h2>
          <div
            cdkDropList
            [cdkDropListData]="chevauxDisponibles"
            class="list"
            (cdkDropListDropped)="dropUserToStack($event)">
            <div class="box" [cdkDragData]="cheval" *ngFor="let cheval of chevauxDisponibles" cdkDrag>
              <div class="custom-placeholder" *cdkDragPlaceholder></div>
              {{cheval.nom}}<mat-icon aria-hidden="false">open_with</mat-icon>
            </div>
          </div>

        </div>

        <div class="column">

          <h2>Cavaliers inscrits</h2>
          <div *ngFor="let cavalier of cavaliersInscrits">
            <h3>{{cavalier.user.firstname_user}} {{cavalier.user.lastname_user}}</h3>
            <div
              cdkDropList
              [cdkDropListData]="cavalier.cheval"
              class="list"
              (cdkDropListDropped)="dropStackToUser($event, cavalier.user.id_user, cavalier.id_reprise_inscription)">
              <div class="box" [cdkDragData]="cavalier" *ngFor="let cheval of cavalier.cheval" cdkDrag>
                <div class="custom-placeholder" *cdkDragPlaceholder></div>
                {{cheval.nom}}<mat-icon aria-hidden="false">open_with</mat-icon>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </mat-card>
</div>
