<div style="margin-top: 40px;" class="container">
  <div class="card-panel">
    <h3 class="lobster center" style="margin-top: 0">Se connecter</h3>

    <form (submit)="login()">
      <div class="container">

        <p>
          <mat-form-field appearance="outline">
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-label>Identifiant</mat-label>
            <input [(ngModel)]="credentials.login_user" name="login_user" matInput>
          </mat-form-field>
        </p>

        <p>
          <mat-form-field appearance="outline">
            <mat-icon matSuffix>vpn_key</mat-icon>
            <mat-label>Mot de passe</mat-label>
            <input [(ngModel)]="credentials.password_user" name="password_user" type="password" matInput>
          </mat-form-field>
        </p>

      </div>

      <button class="center" mat-raised-button color="blue">C'est parti !</button>
    </form>
  </div>
</div>
