<div style="margin-top: 40px;" class="container">
  <div class="card-panel center-align">
    <h3 class="lobster" style="margin-top: 0">Se connecter</h3>

    <form (submit)="login()">
      <div class="container">
        <div class="input-field">
          <i class="material-icons prefix">account_circle</i>
          <input [(ngModel)]="credentials.email_user" id="email" type="email" name="email_user" class="validate">
          <label for="email">Votre pseudo</label>
        </div>
        <div class="input-field">
          <i class="material-icons prefix">lock</i>
          <input [(ngModel)]="credentials.password_user" id="password" name="password_user" type="password" class="validate">
          <label for="password">Votre mot de passe</label>
        </div>
      </div>

      <button class="btn waves-effect waves-light blue lighten-2"><i class="material-icons prefix">check</i> C'est parti !</button>
    </form>
  </div>
</div>
