<nav>
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">Accueil</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li *ngIf="!auth.isLoggedIn()"><a routerLink="/login">Se connecter</a></li>
      <li *ngIf="!auth.isLoggedIn()"><a routerLink="/register">S'inscrire</a></li>
      <li *ngIf="auth.isLoggedIn()"><a routerLink="/profile">
          <div class="chip">
            {{ auth.getUserDetails()?.lastname_user | uppercase }} {{ auth.getUserDetails()?.firstname_user | titlecase }}
          </div>
        </a>
      </li>
      <li *ngIf="auth.isLoggedIn()"><a (click)="auth.logout()" routerLink="">Se déconnecter</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
