<mat-toolbar>
  <button mat-button routerLink="/">Accueil</button>

  <span class="example-spacer"></span>

  <button *ngIf="!auth.isLoggedIn()" routerLink="/register" mat-raised-button color="accent">S'inscrire</button>
  <button *ngIf="!auth.isLoggedIn()" routerLink="/login" mat-button>Se connecter</button>

  <button *ngIf="auth.isAdmin()" routerLink="/register" mat-raised-button color="accent">Back-office</button>
  <button *ngIf="auth.isInstructor() || auth.isAdmin()" routerLink="/home-instructor" mat-button>Gestion des reprises</button>

  <button *ngIf="auth.isLoggedIn()" routerLink="/profile" mat-button>Mon compte</button>

  <button *ngIf="auth.isLoggedIn()" (click)="auth.logout()" mat-raised-button color="primary">Se déconnecter</button>
</mat-toolbar>

<router-outlet></router-outlet>
