<div class="container">
  <mat-expansion-panel [expanded]="panelOpenState" *ngIf="this.authService.isInstructor()">
    <mat-expansion-panel-header (click)="togglePanel()">
      <mat-panel-title></mat-panel-title>
      <mat-panel-description class="lobster">Créer une reprise</mat-panel-description>
    </mat-expansion-panel-header>

    <div style="margin-top: 40px;" class="container">
      <form (submit)="createReprise()">
        <app-reprise-create [editMonitor]="false" [reprise]="reprise"></app-reprise-create>
        <button mat-raised-button class="center" color="accent" [disabled]="!isInvalid()">Créer</button>
      </form>
    </div>

  </mat-expansion-panel>

  <table mat-table *ngIf="allReprises" [dataSource]="allReprises" class="mat-elevation-z8">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Titre</th>
      <td mat-cell *matCellDef="let reprise">
        <span *ngIf="reprise.title; else noTitle">{{reprise.title | titlecase}}</span>
        <ng-template #noTitle><i style="color: lightgrey;">Non défini</i>
        </ng-template>
      <span *ngIf="reprise.canceled">&nbsp;<mat-icon  style="color: red; vertical-align: middle;">cancel</mat-icon></span>
      </td>
    </ng-container>

    <ng-container matColumnDef="moniteur">
      <th mat-header-cell *matHeaderCellDef>Moniteur</th>
      <td mat-cell *matCellDef="let reprise">
        <span *ngIf="reprise.user; else noMoniteur">{{reprise.user.firstname_user | titlecase}} {{reprise.user.lastname_user | uppercase}}</span>
        <ng-template #noMoniteur><i style="color: lightgrey;">Non défini</i>
        </ng-template></td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Jour et horaire</th>
      <td mat-cell *matCellDef="let reprise">
        <span *ngIf="!reprise.recurrence; else recurrenced">{{reprise.date | date:"dd/MM/yyyy HH:mm"}}</span>
        <ng-template #recurrenced>{{reprise.date | date:"HH:mm"}}</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="recurrence">
      <th mat-header-cell *matHeaderCellDef>Recurrence</th>
      <td mat-cell *matCellDef="let reprise">
        <span *ngIf="reprise.recurrence; else noRecurrence">{{reprise.recurrence}}</span>
        <ng-template #noRecurrence><i style="color: lightgrey;">Cours unique</i>
        </ng-template></td>
    </ng-container>

    <ng-container matColumnDef="rider_number_limit">
      <th mat-header-cell *matHeaderCellDef>Nb max de cavaliers</th>
      <td mat-cell *matCellDef="let reprise">{{reprise.rider_number_limit}}</td>
    </ng-container>

    <ng-container matColumnDef="galop_level">
      <th mat-header-cell *matHeaderCellDef>Niveau du Galop</th>
      <td mat-cell *matCellDef="let reprise">{{reprise.galop_level}}</td>
    </ng-container>

    <ng-container matColumnDef="open">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let reprise"><button [routerLink]="['/reprise', reprise.id_reprise]" class="center" mat-raised-button style="color: white; background-color: #66bb6a">Ouvrir</button></td>
    </ng-container>

    <ng-container matColumnDef="modify">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let reprise"><button (click)="edit(reprise)" class="center" mat-raised-button color="primary">Modifier</button></td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let reprise"><button (click)="delete(reprise.id_reprise, reprise.title, reprise.date)" class="center" mat-raised-button color="warn">Supprimer</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>
