<div class="container">
  <mat-card>
    <h1 class="lobster">Votre profil</h1>

    <mat-list *ngIf="user">

      <mat-list-item>
        <mat-icon mat-list-icon>account_box</mat-icon>
        <div mat-line><b>Votre nom</b></div>
        <div mat-line>{{ user.lastname_user | uppercase}}</div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon mat-list-icon>account_box</mat-icon>
        <div mat-line><b>Votre prénom</b></div>
        <div mat-line>{{ user.firstname_user | titlecase}}</div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon mat-list-icon>alternate_email</mat-icon>
        <div mat-line><b>Votre adresse mail</b></div>
        <div mat-line>{{ user.email_user}}</div>
      </mat-list-item>

      <mat-divider></mat-divider>
      <mat-list-item>

        <mat-icon mat-list-icon>phone_android</mat-icon>
        <div mat-line><b>Votre numéro de téléphone</b></div>
        <div mat-line>{{ user.phone_number_user}}</div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon mat-list-icon>credit_card</mat-icon>
        <div mat-line style="margin-bottom: 4px;"><b>Votre numéro de licence</b></div>
        <div mat-line>{{ user.license_number_user}}</div>
        <div mat-line *ngIf="user.license_number_user == null || user.license_number_user == ''"><span style="color: lightgrey"><i>La license c'est pas enseignée</i></span></div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <mat-icon mat-list-icon>{{user.role_user.icon}}</mat-icon>
        <div mat-line><b>Type de compte</b></div>
        <div mat-line>{{ user.role_user.role | titlecase }}</div>
      </mat-list-item>
    </mat-list>

    <button (click)="openDialog(user)" class="center" mat-raised-button color="primary">Modifier</button>

  </mat-card>
</div>
