<div class="container">
  <div class="card-panel">
    <h1 class="center lobster">Votre profil</h1>

    <table *ngIf="user">
      <tbody>
        <tr>
          <td><b>Votre prénom</b></td>
          <td>{{ user.firstname_user}}</td>
        </tr>
        <tr>
          <td><b>Votre nom</b></td>
          <td>{{ user.lastname_user}}</td>
        </tr>
        <tr>
          <td><b>Votre adresse mail</b></td>
          <td>{{ user.email_user}}</td>
        </tr>
        <tr>
          <td><b>Votre numéro de téléphone</b></td>
          <td>{{ user.phone_number_user}}</td>
        </tr>
        <tr>
          <td><b>Votre numéro de licence</b></td>
          <td>{{ user.license_number_user}}</td>
        </tr>
        <tr>
          <td><b>Type de compte</b></td>
          <td>{{ user.role_user.toString() | titlecase }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
