html {
  background: linear-gradient(135deg, #1174b8 1%, #001317 100%) fixed;
  background-size: cover;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-panel {
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px !important;
  margin-top: 20px;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  margin-top: 20px !important;
}

.center {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.lobster {
  font-family: Lobster, cursive !important;
}
