html {
  background: linear-gradient(135deg, #1174b8 1%, #001317 100%) fixed;
  background-size: cover;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
  margin-top: 20px !important;
}

.center {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.lobster {
  font-family: Lobster, cursive !important;
}

.lobster_2 {
  font-family: "Lobster Two", cursive !important;
}

.style-success .mat-simple-snackbar-action {
  color: green;
}
.style-success, .style-error  {
  color: white;
}
.style-error .mat-simple-snackbar-action {
  color: red;
}
