<div class="container">
  <mat-card>
    <h1 class="lobster">Récupérer son mot de passe</h1>

    <form (submit)="recupPassword()">

      <p>
        <mat-form-field appearance="outline" class="center">
          <mat-icon matSuffix>alternate_email</mat-icon>
          <mat-label>Votre adresse email</mat-label>
          <input [(ngModel)]="email" name="email" type="email" matInput [formControl]="emailControl" required>
          <mat-error *ngIf="email">{{getErrorMessageEmail()}}</mat-error>
        </mat-form-field>
      </p>

      <p class="center" *ngIf="sent">Un email de récupérartion de mot de passe a été envoyé à '{{email}}'.</p>

      <button class="center" mat-raised-button color="primary">Envoyer un mail de récupération</button>
    </form>
  </mat-card>
</div>
