mat-card {
  margin: 30px 10px;
}

h1 {
  color: white;
}

button {
  margin-top: 10px;
}

.btnHorses {
  margin: 0;
}

.multiline {
  white-space: pre-line;
}

.canceled {
  border: 1px solid white;
  background-color: #fd5b5b;
}
