<div class="container">
  <h1 class="lobster">Tous les cours</h1>

  <mat-card>

    <h2 class="center lobster">Filtres</h2>

    <div class="center">
      <mat-form-field appearance="outline">
        <mat-label>Niveau(x) du Galop</mat-label>
        <mat-select [formControl]="galopLevelsControl" (closed)="getAllReprises()" multiple>
          <mat-option *ngFor="let galopLevel of galopLevels" [value]="galopLevel">{{galopLevel}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" style="margin-left: 30px">
        <mat-label>Moniteur(s)</mat-label>
        <mat-select [formControl]="moniteursControl" (closed)="getAllReprises()" multiple>
          <mat-option *ngFor="let moniteur of moniteurs" [value]="moniteur.id_user">{{moniteur.firstname_user}} {{moniteur.lastname_user}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </mat-card>

  <mat-card *ngFor="let reprise of allReprises">

    <h2 class="center lobster_2" style="margin-bottom: 20px;"><b>{{ reprise.title }}</b>
      <span class="spanBtnFiche">
        <button *ngIf="!reprise.canceled && authService.isRider()" mat-raised-button color="primary" class="center" [routerLink]="['/reprise', reprise.id_reprise]">Voir la fiche</button>
      </span>
    </h2>

    <mat-grid-list [cols]="authService.isRider() ? 6 : 5" rowHeight="9:1">
      <mat-grid-tile><b>Moniteur&nbsp;</b><mat-icon>supervised_user_circle</mat-icon></mat-grid-tile>
      <mat-grid-tile><b>Jour&nbsp;</b><mat-icon>event</mat-icon></mat-grid-tile>
      <mat-grid-tile><b>Heure&nbsp;</b><mat-icon>schedule</mat-icon></mat-grid-tile>
      <mat-grid-tile><b>Limite&nbsp;</b><mat-icon>groups</mat-icon></mat-grid-tile>
      <mat-grid-tile><b>Niveau du Galop&nbsp;</b><mat-icon>military_tech</mat-icon></mat-grid-tile>
      <mat-grid-tile *ngIf="authService.isRider()"><b>Cheval assigné&nbsp;</b><img src="assets/horse-icon.png" height="20" alt="horse-icon"></mat-grid-tile>

      <mat-grid-tile>{{reprise.user.firstname_user}} {{reprise.user.lastname_user | uppercase}}</mat-grid-tile>
      <mat-grid-tile>{{reprise.date | date:"MM/dd/yyyy"}}</mat-grid-tile>
      <mat-grid-tile>{{reprise.date | date:"HH:mm"}}</mat-grid-tile>
      <mat-grid-tile>{{reprise.rider_number_limit}}</mat-grid-tile>
      <mat-grid-tile>{{reprise.galop_level}}</mat-grid-tile>
      <div *ngIf="authService.isRider()">
        <mat-grid-tile *ngIf="nomCheval(reprise.id_reprise); else noAssignedHorse">
          <mat-icon matTooltipPosition=below [matTooltip]="nomCheval(reprise.id_reprise).race + ' - ' + nomCheval(reprise.id_reprise).age + ' ans'">info</mat-icon>
          <p class="spanHorses">&nbsp;{{nomCheval(reprise.id_reprise).nom}}</p>
        </mat-grid-tile>
      </div>

      <ng-template #noAssignedHorse>
        <mat-grid-tile>
          <p><i>Aucun</i></p>
        </mat-grid-tile>
      </ng-template>
    </mat-grid-list>

    <div *ngIf="reprise.canceled; else notCanceled" class="center canceled">
      <h3>
        <mat-icon>cancel</mat-icon>
        <span>&nbsp;La reprise est annulée</span>
      </h3>
    </div>

    <ng-template #notCanceled>
      <div *ngIf="authService.isRider()">
        <button mat-raised-button style="color: white; background-color: #69c61a;" class="center" *ngIf="!isRegistered(reprise.id_reprise); else btnDesinscrire" (click)="registerToReprise(reprise.id_reprise)">S'inscrire</button>
        <ng-template #btnDesinscrire><button mat-raised-button color="warn" class="center" *ngIf="isRegistered(reprise.id_reprise)" (click)="deleteRegisteredReprise(reprise.id_reprise)">Se désinscrire</button></ng-template>
      </div>
    </ng-template>

    <button *ngIf="authService.isInstructor()"  mat-raised-button color="primary" class="center" [routerLink]="['/reprise', reprise.id_reprise]">Modifier la reprise</button>

  </mat-card>
</div>
