<div class="container">
  <h1 class="lobster">Tous les cours</h1>

  <div class="card-panel" *ngFor="let reprise of allReprises">

    <mat-grid-list cols="3" rowHeight="100px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        {{reprise.date}}
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        {{reprise.rider_number_limit}}
      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        {{reprise.galop_level}}
      </mat-grid-tile>
    </mat-grid-list>

    <p class="center">{{ reprise.title }}</p>
  </div>
</div>
