<h2 class="center lobster">Assigner les chevaux</h2>

<mat-grid-list cols="3" rowHeight="80px" *ngFor="let subscription of subscriptions">
  <mat-grid-tile>
    {{subscription.user.firstname_user}} {{subscription.user.lastname_user}}
  </mat-grid-tile>

  <mat-grid-tile *ngIf="subscription.cheval">
    {{subscription.cheval.nom}}
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-form-field appearance="outline">
      <mat-label>Cheval</mat-label>
      <mat-select [(ngModel)]="selectedHorse">
        <mat-option [value]="null"></mat-option>
        <mat-option *ngFor="let cheval of availableHorses" [value]="cheval">
          {{cheval.nom}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
</mat-grid-list>
